<h1>{{product.title}}</h1>

{{product.title}}<br>
<img src={{product.image}}><br>
{{product.description}}<br>
{{product.cost}}<br>

<button {{action 'addToCart' product}}>Add to Cart</button>

{{new-comment saveCommentB='saveCommentC'}}
