<div class="col-sm-3">

  <h1 {{action 'seeMore'}}>{{product.title}}</h1>
  <br>
  <img class="secondary" {{action 'seeMore'}} src={{product.image}}><br>

  {{#if showDetails}}
    {{product.description}}<br>
    {{product.cost}}<br>
    <ul>
      {{#each product.comments as |comment|}}
        <li>{{comment.name}}</li>
        <li>{{comment.content}}</li>
      {{/each}}
    </ul>
  {{/if}}
  <br>
  <button {{action 'addToCart' product}}>Add to Cart</button>

  {{new-comment product=product saveCommentB='saveCommentC'}}

</div>
